Equipo 4

Número de Grupo: 001, Frecuencia de clase: Lunes


Integrantes
*   1877283, Cavazos Huerta, Sandra María.				  
*   1869764, Elizondo Villarreal, Alberto.						
*   1867031, Sánchez Tovar, Arturo Isaac.				
*   1862646, Sepulveda Bermudez, Marlene Michel. 		
*   1877498, Villarreal Garza, Diana.

1) Título de la Base de Datos

 Nombre:


> Iris Species

> URL (https://www.kaggle.com/uciml/iris)

2) Técnicas de Limpieza


> a) Importar Librerías y Base de Datos

In [ ]:
#a) Importar Librerías y Base de Datos
import pandas as pd
import numpy as np
import json

df = pd.read_csv("Iris.csv")



> b) Visualización de Datos

In [ ]:
print("Número de Filas y Columnas: ",df.shape) #Número de Filas y Columnas
print("Nombres de Columnas: ",df.columns) #Nombre de las Columnas
print(" ")
print("Primeros 5 datos de la Base de Datos: ")
df.head()

Número de Filas y Columnas:  (150, 6)
Nombres de Columnas:  Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Primeros 5 datos de la Base de Datos:

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa



> c) Descripción básica de columnas

In [ ]:
df.dtypes #Tipo de Dato de Cada Columna

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

Mediante las siguientes funciones revisamos si existen celdas vacías dentro de la Base de Datos.

In [ ]:
#Nos muestra "False" si no existen celdas nulas por columna
df.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [ ]:
#Confirmamos que no hay celdas nulas, con la función de suma de datos nulos por columna
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64


> d) Clasificación de Datos

In [ ]:
#Obtenemos los valores únicos de la columna de "Species" de la Base de Datos
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Una vez obtenidos los valores únicos de la Columna, podemos clasificarlos con los siguientes comandos:

In [ ]:
#Clase de Iris-setosa
s1 = df[df['Species']=='Iris-setosa']

#Clase de Iris-virginica
s2 = df[df['Species']=='Iris-versicolor']

#Clase de Iris-versicolor
s3 = df[df['Species']=='Iris-virginica']

e) Cambiar Nombre de Columnas

In [ ]:
df = df.rename(columns = {
    'SepalLengthCm':'Longitud_Sepalo_cm',
    'SepalWidthCm':'Anchura_Sepalo_cm',
    'PetalLengthCm':'Longitud_Petalo_cm',
    'PetalWidthCm':'Anchura_Petalo_cm',
    'Species':'Especies'
    })

s1 = s1.rename(columns = {
    'SepalLengthCm':'Longitud_Sepalo_cm',
    'SepalWidthCm':'Anchura_Sepalo_cm',
    'PetalLengthCm':'Longitud_Petalo_cm',
    'PetalWidthCm':'Anchura_Petalo_cm',
    'Species':'Especies'
    })

s2 = s2.rename(columns = {
    'SepalLengthCm':'Longitud_Sepalo_cm',
    'SepalWidthCm':'Anchura_Sepalo_cm',
    'PetalLengthCm':'Longitud_Petalo_cm',
    'PetalWidthCm':'Anchura_Petalo_cm',
    'Species':'Especies'
    })

s3 = s3.rename(columns = {
    'SepalLengthCm':'Longitud_Sepalo_cm',
    'SepalWidthCm':'Anchura_Sepalo_cm',
    'PetalLengthCm':'Longitud_Petalo_cm',
    'PetalWidthCm':'Anchura_Petalo_cm',
    'Species':'Especies'
    })

En este caso, tenemos que hacer el cambio de nombres de las columnas en el Data Frame principal, al igual que en las clases s1, s2 y s3. 
Esto es porque se nos pide primero crear las clases y después cambiar los nombres de las columnas. 
Si primero se cambiaran los nombres de las columnas de "df" y después se asignan las clases, no sería necesario la repetición de las líneas de código.

f) Agrupación de Datos

In [ ]:
#Agrupacion de la Clase de Iris-setosa
s1.to_csv('Specie1.csv', index=False)

#Agrupacion de la Clase de Iris-versicolor
s2.to_csv('Specie2.csv', index=False)

#Agrupacion de la Clase de Iris-virginica
s3.to_csv('Specie3.csv', index=False)

Leemos los primeros 5 elementos de las nuevas agrupaciones para verificar si se hicieron correctamente.

In [ ]:
#Verificación Especie 1
S1 = pd.read_csv("Specie1.csv")
S1.head()

   Id  Longitud_Sepalo_cm  ...  Anchura_Petalo_cm     Especies
0   1                 5.1  ...                0.2  Iris-setosa
1   2                 4.9  ...                0.2  Iris-setosa
2   3                 4.7  ...                0.2  Iris-setosa
3   4                 4.6  ...                0.2  Iris-setosa
4   5                 5.0  ...                0.2  Iris-setosa

[5 rows x 6 columns]

In [ ]:
#Verificación Especie 2
S2 = pd.read_csv("Specie2.csv")
S2.head()

   Id  Longitud_Sepalo_cm  ...  Anchura_Petalo_cm         Especies
0  51                 7.0  ...                1.4  Iris-versicolor
1  52                 6.4  ...                1.5  Iris-versicolor
2  53                 6.9  ...                1.5  Iris-versicolor
3  54                 5.5  ...                1.3  Iris-versicolor
4  55                 6.5  ...                1.5  Iris-versicolor

[5 rows x 6 columns]

In [ ]:
#Verificación Especie 3
S3 = pd.read_csv("Specie3.csv")
S3.head()

    Id  Longitud_Sepalo_cm  ...  Anchura_Petalo_cm        Especies
0  101                 6.3  ...                2.5  Iris-virginica
1  102                 5.8  ...                1.9  Iris-virginica
2  103                 7.1  ...                2.1  Iris-virginica
3  104                 6.3  ...                1.8  Iris-virginica
4  105                 6.5  ...                2.2  Iris-virginica

[5 rows x 6 columns]

## Respondiendo a las Preguntas de Interés



*   ¿Para que me puede servir estas agrupaciones para la práctica siguiente?

> Esto nos sirve para poder trabajar los datos de la manera más práctica según sus características. Podemos sacar conclusiones para cada tipo de especie.


*   Importancia del análisis previo de los datos antes de iniciar las modificaciones.

> Para tener presente las propiedades originales (tamaño de muestra, tipo de datos, número de columnas,...), al igual que posibles errores o datos nulos que se puedan presentar.

## Tareas Extras: (Puntos Extras)



### **Investigación**

*   ?df.dropna()

> Esta función devuelve un data frame filtrado con filas o columnas eliminadas según los parámetros especificados. Con el parámetro "axis" se define si se eliminarán las filas (Cuando axis = 0) o las columnas (Cuando axis = 1).

> Otro parámetro importante es el "how". Con este parámetro podemos determinar si se eliminarán las filas o columnas si se tiene al menos un valor nulo en dicha fila o columna (how = "any") o si todos son nulos (how = "all").


*   ?df.astype

> Cambia el tipo de datos de los objetos en la Base de Datos a un tipo de formato especificado.

> Se necesita aportar el nuevo formato de la columna de la siguiente manera: df.Nombre_de_Columna = df.Nombre_de_Columna.astype('Tipo_de_Dato')
donde el tipo de dato puede ser 'int64', 'float64',...

 ### **Preprocesamiento**

Iniciamos el preprocesamiento haciendo una copia de seguridad de la Data Frame, antes de trabajar en ella.

In [ ]:
#Copia de la Data Frame
df_c = df.copy()

En el siguiente bloque de código nos interesa saber aquellos registros que se encuentran sobre la media de la Anchura del Sépalo.

In [ ]:
##Datos sobre el promedio de la Anchura de Sépalo
prom_as = df['Anchura_Sepalo_cm'].mean()
print("Promedio de la Anchura del Sépalo: ",round(prom_as, ndigits =  4))
df[df.Anchura_Sepalo_cm > prom_as]

Promedio de la Anchura del Sépalo:  3.054

      Id  Longitud_Sepalo_cm  ...  Anchura_Petalo_cm        Especies
0      1                 5.1  ...                0.2     Iris-setosa
2      3                 4.7  ...                0.2     Iris-setosa
3      4                 4.6  ...                0.2     Iris-setosa
4      5                 5.0  ...                0.2     Iris-setosa
5      6                 5.4  ...                0.4     Iris-setosa
..   ...                 ...  ...                ...             ...
140  141                 6.7  ...                2.4  Iris-virginica
141  142                 6.9  ...                2.3  Iris-virginica
143  144                 6.8  ...                2.3  Iris-virginica
144  145                 6.7  ...                2.5  Iris-virginica
148  149                 6.2  ...                2.3  Iris-virginica

[67 rows x 6 columns]

Para finalizar, mostramos un resumen de la estadística descriptiva del Data Frame.

In [ ]:
#Presentamos una descripción de los datos de la Data frame
df_summary = df.describe()
df_summary.drop('Id',axis = 1)

       Longitud_Sepalo_cm  ...  Anchura_Petalo_cm
count          150.000000  ...         150.000000
mean             5.843333  ...           1.198667
std              0.828066  ...           0.763161
min              4.300000  ...           0.100000
25%              5.100000  ...           0.300000
50%              5.800000  ...           1.300000
75%              6.400000  ...           1.800000
max              7.900000  ...           2.500000

[8 rows x 4 columns]