EJERCICIO 1

In [2]:
nom = "Alberto Elizondo Villarreal"
mat = "1869764"
"  ".join([nom, mat])

'Alberto Elizondo Villarreal  1869764'

EJERCICIO 2

In [3]:
import sys
print("Calculadora")
#Numeros de la operacion
n1 = int(input("Introduce el primer número:" ))
n2 = int(input("Introduce el segundo número:" ))

#Proceso de eleccion de operacion
p1 = 0
print("Qué operación quiere realizar?")
while p1 < 1 or p1 > 5 :
  print("1. +")
  print("2. -")
  print("3. *")
  print("4. /")
  print("5. a^b")
  p1 = int(input("Selecciona el numero de la operacion deseada: "))
  if p1 < 1 or p1 > 5 :
    print("Opcion no disponible")
  if p1 == 4 and n2 == 0 :
    print("Resultado Indefinido")
    sys.exit()
  
#Proceso de Operacion
if p1 == 1 :
  res = n1 + n2
elif p1 == 2 :
  res = n1 - n2
elif p1 == 3 :
  res = n1 * n2
elif p1 == 4 :
  res = n1 / n2
elif p1 == 5 :
  res = n1**n2

#Imprimir Resultado
print("Resultado: ",res)

Calculadora
Introduce el primer número:3
Introduce el segundo número:5
Qué operación quiere realizar?
1. +
2. -
3. *
4. /
5. a^b
Selecciona el numero de la operacion deseada: 3
Resultado:  15

EJERCICIO 3

In [4]:
#Arreglo vacio de tamano 10
variable = [0] *10

#Llenar Arreglo
i = 0
while i < 10 :
  variable[i] = 3 * (i+1)
  i = i+1
print("Multiplos del 3: ",variable)

#Suma
tot = 0
for n in variable :
  tot = tot + n
print("Suma de los Multiplos de 3: ",tot)

Multiplos del 3:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Suma de los Multiplos de 3:  165

EJERCICIO 4

In [5]:
  x = int(input("Ingrese un numero: "))
  
  if x % 2 == 0: 
    print("Numero par")
  else : 
    print("Numero impar")

n = 0
  for i in range(2,x+1):
    if x % i == 0:
      n += 1
      #print("Divisible por: ",i)

  if n == 1:
    print("Numero primo")
  else:
    print("Numero no primo")

Ingrese un numero: 79
Numero impar
Numero primo

EJERCICIO 5

In [6]:
#Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.
import sys
print("Calculadora")
#Numeros de la operacion
n1 = float(input("Introduce el primer número:" ))
n2 = float(input("Introduce el segundo número:" ))

#Proceso de eleccion de operacion
p1 = 0
p2 = 0
print("Qué operación quiere realizar?")
while p1 < 1 or p1 > 5 :
  print("1. +")
  print("2. -")
  print("3. *")
  print("4. /")
  print("5. a^b")
  while p2 != 1 :
    p1 = int(input("Selecciona el numero de la operacion deseada: "))
    p2 = int(input("Estas seguro que es la operacion deseada? 1.Si / 2.No : "))
  if p1 < 1 or p1 > 5 :
    print("Opcion no disponible")
  if p1 == 4 and n2 == 0 :
    print("Resultado Indefinido")
    sys.exit()
  
#Proceso de Operacion
if p1 == 1 :
  res = n1 + n2
elif p1 == 2 :
  res = n1 - n2
elif p1 == 3 :
  res = n1 * n2
elif p1 == 4 :
  res = n1 / n2
elif p1 == 5 :
  res = n1**n2

#Imprimir Resultado
print("Resultado: ",res)

Calculadora
Introduce el primer número:4.5
Introduce el segundo número:6
Qué operación quiere realizar?
1. +
2. -
3. *
4. /
5. a^b
Selecciona el numero de la operacion deseada: 3
Estas seguro que es la operacion deseada? 1.Si / 2.No : 2
Selecciona el numero de la operacion deseada: 5
Estas seguro que es la operacion deseada? 1.Si / 2.No : 1
Resultado:  8303.765625

Ejercicios con Estructura Básica de Python

Tuplas

In [13]:
#Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
print("VARIABLES:")
flo = 4.25
print("Variable flo: ",flo)
print(type(flo))
i = 5
print("Variable i: ",i)
print(type(i))
bol = True
print("Variable bol: ",bol)
print(type(bol))
c = complex(3,5)
print("Variable c: ",c)
print(type(c))
print(" ")


#Crear una tupla con valores enteros imprimir el primer y ultimo valor.
print("TUPLA")
t1 = (3,2,1,5,4)
print("Tupla: ",t1)
print("Primer Valor: ",t1[0])
print("Ultimo Valor: ",t1[-1])


#Añadir 3 valores de string a la tupla.
t1 = t1.__add__(("Hugo","Paco","Luis"))
print("Nueva Tupla: ",t1)
print(" ")

#Verificar si una variable existe dentro de la tupla.
print("VERIFICAR SI LAS VARIABLES EXISTE DENTRO DE LA TUPLA")

def verificar(ver):
  if ver == True:
    print("Si existe en la Tupla")
  else:
    print("No existe en la Tupla")

print("VARIABLE 'Flo':")
ver = flo in t1
verificar(ver)

print("VARIABLE 'i':")
ver = i in t1
verificar(ver)

print("VARIABLE 'bol':")
ver = bol in t1
verificar(ver)

print("VARIABLE 'c'':")
ver = c in t1
verificar(ver)

VARIABLES:
Variable flo:  4.25
<class 'float'>
Variable i:  5
<class 'int'>
Variable bol:  True
<class 'bool'>
Variable c:  (3+5j)
<class 'complex'>

TUPLA
Tupla:  (3, 2, 1, 5, 4)
Primer Valor:  3
Ultimo Valor:  4
Nueva Tupla:  (3, 2, 1, 5, 4, 'Hugo', 'Paco', 'Luis')

VERIFICAR SI LAS VARIABLES EXISTE DENTRO DE LA TUPLA
VARIABLE 'Flo':
No existe en la Tupla
VARIABLE 'i':
Si existe en la Tupla
VARIABLE 'bol':
Si existe en la Tupla
VARIABLE 'c'':
No existe en la Tupla

Listas

In [1]:
import  random
lista = [0] * 40
for i in range(40): 
  lista[i] = random.randint(0,1000)
lista


#Funcion para crear la lista par y la impar
def separacion():
  lista_par = [0]
  lista_impar = [0]
  for i in range(40):
    if lista[i]%2 == 0:
      lista_par.append(lista[i])
    else:
      lista_impar.append(lista[i])
  #Eliminar el 0 con el que empieza la lista
  del lista_par[0]
  del lista_impar[0]
  print("Lista Original: ",lista)
  print("Lista Par: ",lista_par)
  print("Lista impar: ",lista_impar)
  return lista_par,lista_impar;

lista_par,lista_impar = separacion()


#Longitud de las listas
lenpar = len(lista_par)
lenimpar = len(lista_impar)
print("Total de numeros pares: ",lenpar)
print("Total de numeros impares: ",lenimpar)


#Ordenar las listas
  #Par de mayor a menor
lista_par.sort()
lista_par.reverse()
  #impar de menor a mayor
lista_impar.sort()


#Imprimir nuevas listas
print("NUEVAS LISTAS")
print("Lista par (Mayor a menor):", lista_par)
print("Lista Impar (Menor a Mayor): ",lista_impar)


#4 funciones de listas
lista.sort() #Acomodrlas de menor a mayor
lista.reverse() #Acomodarla de mayor a menor
lista.pop() #Quitarle el ultimo numero
lista.clear() #Limpiar toda la lista

Lista Original:  [135, 796, 302, 775, 22, 563, 544, 600, 821, 627, 941, 434, 291, 337, 955, 312, 15, 723, 672, 280, 87, 229, 321, 660, 694, 271, 481, 81, 809, 91, 438, 498, 39, 33, 617, 95, 134, 475, 307, 835]
Lista Par:  [796, 302, 22, 544, 600, 434, 312, 672, 280, 660, 694, 438, 498, 134]
Lista impar:  [135, 775, 563, 821, 627, 941, 291, 337, 955, 15, 723, 87, 229, 321, 271, 481, 81, 809, 91, 39, 33, 617, 95, 475, 307, 835]
Total de numeros pares:  14
Total de numeros impares:  26
NUEVAS LISTAS
Lista par (Mayor a menor): [796, 694, 672, 660, 600, 544, 498, 438, 434, 312, 302, 280, 134, 22]
Lista Impar (Menor a Mayor):  [15, 33, 39, 81, 87, 91, 95, 135, 229, 271, 291, 307, 321, 337, 475, 481, 563, 617, 627, 723, 775, 809, 821, 835, 941, 955]

Diccionarios

In [14]:
dict1 = {'Alberto': 20, 'Fernando': 17, 'Leonardo': 25, 'Katia': 20, 'Liliana': 21, 'Julio': 23}

lista = list(dict1.values())
lista.sort()

print("Edades de menor a mayor: ",lista)


#Imprimir solamente los nombres
print("NOMBRES:")
for i in dict1:
  print(i)

#Agregar a dps personas
print(" ") #Espacio
dict1['Jose'] = '30'
dict1['Pablo'] = '21'
print("Nuevo Diccionario: ")
dict1

Edades de menor a mayor:  [17, 20, 20, 21, 23, 25]
NOMBRES:
Alberto
Fernando
Leonardo
Katia
Liliana
Julio

Nuevo Diccionario:

{'Alberto': 20,
 'Fernando': 17,
 'Jose': '30',
 'Julio': 23,
 'Katia': 20,
 'Leonardo': 25,
 'Liliana': 21,
 'Pablo': '21'}

Sets

In [15]:
#Crea un set con 100 numeros aleatorios enteros del 1 al 25.
import  random
set1 = set()
for i in range(100): 
  set1.add(random.randint(1,25))
#Imprimir el Set
print("SET INICIAL: ",set1)


#Comprueba la longitud de tu set.
print("Longitud del set: ",len(set1))


#Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.
list1 = [0] * 5
for i in range(5): 
  list1[i] = random.randint(1,10)
print("LISTA DE NUMEROS: ",list1)


for i in range(len(list1)):
  if (list1[i] in set1) == True :
    print("El valor ",list1[i]," SI aparece en el set")
  else:
    print("El valor ",list1[i]," NO aparece en el set")

SET INICIAL:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
Longitud del set:  25
LISTA DE NUMEROS:  [1, 6, 5, 10, 6]
El valor  1  SI aparece en el set
El valor  6  SI aparece en el set
El valor  5  SI aparece en el set
El valor  10  SI aparece en el set
El valor  6  SI aparece en el set